body {
    font-family: Arial, sans-serif;
    color: #ffcb74;
    background-color: #2f2f2f;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

input[type="file"] {
    display: none;
}


.btns-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93.9vh;
}

button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border-radius: 2rem;
    width: 10rem;
    margin-bottom: 5px;

}


.download {
    color: #111111;
    background-color: #ffcb74;
    font-size: 21px;
    width: 12rem;
    border-radius: 2rem;
    display: none;
}

hr {
    border: none;
    width: 100%;
}
#uploadContainer {
    text-align: center;
}

#previewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.preview-image {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}